# Variables d'environnement locales
.env
.env.local
.env.*.local
.env.example

# Maven
target/
*.class

# IntelliJ IDEA
.idea/
*.iml

# Visual Studio Code
.vscode/

# Fichiers système
.DS_Store
Thumbs.db

# Logs
*.log
logs/